<h1>Destaques do Cotils Adventure</h1>
<div class="gallery">
  <img src="/images/game1.jpg" alt="Imagem 1 do jogo">
  <img src="/images/game2.jpg" alt="Imagem 2 do jogo">
  <img src="/images/game3.jpg" alt="Imagem 3 do jogo">
</div>
